@import '../build/scss/_light.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    background-color: $theme-bg-surface;
}

header {
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.header-text {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.buttons {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 60px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    align-items: center;
}

.wrapper {
    max-width: 800px;
    width: 100%;
}

.header {
    padding: 0;
    margin: 0;
    font-size: 33px;
    font-weight: 400;
    padding-bottom: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-top: 40px;
    color: $theme-fg-default;
}

.header__buttons {
    display: flex;
    column-gap: 15px;
}

.button {
    background-color: $colors-purple-500;
    border: none;
    border-radius: $border-radius + px;
    color: $colors-white;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-body-md + px;
    line-height: $line-height-base;
    padding: $vertical-md + px $horizontal-md + px;
    position: relative;
    text-align: left;
    text-decoration: none!important;
    vertical-align: middle;
    
    &:hover {
        background-color: $theme-accent-muted;
    }

    &:active {
        background-color: $theme-accent-emphasis;
    }

    &--small {
        font-size: $font-size-body-sm + px;
    }
    
    &--large {
        font-size: $font-size-body-lg + px;    
    }
}

.columns {
    display: flex;
    column-gap: 0px;
    flex-wrap: wrap;
}

.column {
    flex-grow: 1;
}