.button {
    border: $theme-border-width-base + px solid transparent;
    outline: 2px solid transparent;
    border-radius: $theme-border-radius + px;
    cursor: pointer;
    display: inline-block;
    font-size: $font-size-body-md + px;
    line-height: $line-height-base;
    padding: $vertical-md + px $horizontal-md + px;
    position: relative;
    text-align: left;
    text-decoration: none!important;
    vertical-align: middle!important;
    box-shadow: none;

    &--small {
        padding: $vertical-sm + px $horizontal-sm + px;
        font-size: $font-size-body-sm + px;
    }
    
    &--large {
        padding: $vertical-lg + px $horizontal-lg + px;
        font-size: $font-size-body-lg + px;    
    }
}

.button--primary {
    background-color: $theme-accent-default;
    color: $theme-fg-on-accent;

    &:hover {
        background-color: $theme-accent-muted;
    }

    &:active {
        background-color: $theme-accent-emphasis;
    }

    &:focus {
        outline: 2px solid $colors-purple-500;
        outline-offset: 2px;
    }
}

.button--secondary {
    background-color: $colors-purple-100;
    color: $colors-purple-500;

    &:hover {
        background-color: $theme-secondary-muted;
    }

    &:active {
        background-color: $theme-secondary-emphasis;
    }

    &:focus {
        outline: 2px solid $colors-purple-500;
        outline-offset: 2px;
    }
}

.button--outline {
    background-color: $theme-outline-default;
    border-color: $theme-border-default;
    color: $theme-fg-default;
    box-shadow: 0 0 #0000 ,0 0 #0000,  0 1px 2px 0 rgb(0, 0, 0,0.05);

    &:hover {
        background-color: $theme-outline-muted;
    }

    &:active {
        background-color:  $theme-outline-emphasis;
    }

    &:focus {
        outline: 2px solid $colors-purple-500;
        outline-offset: 2px;
    }
}