.card {
    box-shadow: 0px 8px 16px 0px #00000026;
    border-radius: 4px;
    flex-basis: 250px;
    flex-grow: 1;
}

.card__picture {
    font-size: 0;
}

.card__image {
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 0;
}

.card__content {
    background-color: $theme-bg-canvas;
    padding: 25px;
    border-radius: 4px;
}

.card__header {
    color: $theme-fg-default;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
    font-size: 22px;
}

.card__link {
    color: $theme-fg-default;
    text-decoration: none;
}

.card__text {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.card__buttons {
    display: flex;
    column-gap: 10px;
}