@import '../../build/scss/_green.scss';
@import '../components/button.scss';
@import '../components/card.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    background-color: $theme-bg-surface;
}

.header {
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__text {
        color: white;
        margin: 0;
        padding: 0;
        font-size: 18px;
    }

    &__buttons {
        display: flex;
        column-gap: 15px;

        .button {
            color: white;

            &:hover {
                background-color: #323232;
            }

            &:active {
                background-color: #161616;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    align-items: center;

    &__wrapper {
        max-width: 800px;
        width: 100%;
    }

    &__group {
        margin-bottom: 90px;
    }

    &__header {
        padding: 0;
        margin: 0;
        font-size: 33px;
        font-weight: 400;
        padding-bottom: 10px;
        margin-bottom: 50px;
        border-bottom: 1px solid rgb(200, 200, 200);
        margin-top: 40px;
        color: $theme-fg-default;
    }

    &__buttons {
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 60px;
    }

    &__cards {
        display: flex;
        column-gap: 60px;
        flex-wrap: wrap;
    }

}